.Card {
    height: 100%;
  background: #f3f4f6;
  border-radius: 15px;
  border: none;
  position: unset;
  padding: 45px 16px 35px;
  box-sizing: border-box;
}

.CardTop,
.CardBottom {
  padding-left: 21px;
  padding-right: 37px;
}

.CardFree {
  color: #262729;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 15px;
}

.MonthPlan {
  color: #262729;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
}

.MonthPrice {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #262729;
  margin-top: 25px;
  margin-bottom: 20px;
}

.MPrice2 {
  color: #ff4a2e;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.CBottomText {
  color: rgba(38, 39, 41, 0.7);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 43px;
}

.BtnPlace {
  margin-top: auto;
  text-align: center;
}

.BtnSelection {
  border: 1px solid #262729;
  box-sizing: border-box;
  border-radius: 50px;
  color: #262729;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 13px 43px;
}

.ConSelectBtn {
  background: transparent;
}

.CLeftCol {
  padding-right: 60px;
}

.CRightCol {
  padding-left: 60px;
}

/* media xl */
@media (max-width: 1399px) {
}

/* media lg */
@media (max-width: 1199px) {
}

/* media md */
@media (max-width: 991px) {
  .CLeftCol {
    padding-right: 13px;
  }
  .CRightCol {
    padding-left: 13px;
  }
}

/* media sm */
@media (max-width: 767px) {
  .CLeftCol {
    padding-right: 13px;
    margin-bottom: 35px;
  }
  .CRightCol {
    padding-left: 13px;
  }
}

/* media xs */
@media (max-width: 575px) {
  .CLeftCol {
    padding-right: 12px;
    margin-bottom: 37px;
  }
  .CRightCol {
    padding-left: 12px;
  }
  .CardTop,
  .CardBottom {
    padding-left: 21px;
    padding-right: 20px;
  }
  .MPrice2 {
    font-size: 22px;
  }
  .Card {
    padding: 42px 37px 30px;
  }
}
