footer {
    background: #262729;
    padding-top: 57px;
    padding-bottom: 38px;
}

footer ul {
    margin: 0;
    padding: 0;
}

.LogoLink {
    margin-bottom: 35px;
}

footer .FooterInfo {
    display: flex;
    justify-content: space-between;
}

footer .FooterItem {
    margin-bottom: 31px;
}

footer .FooterItem .FooterLink {
    color: #ffffff;
    text-decoration: none;
}

footer .FooterItem:first-child {
    margin-bottom: 49px;
}

footer .FooterItem:first-child .FooterLink {
    color: #ff4a2e;
}

footer .ForSpace {
    margin-bottom: 75px;
}

footer hr {
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    margin: 1rem auto;
}

footer .SocialList {
    color: #fff;
    font-size: 25px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}

footer .FooterIcon{
    color: #fff;
}

footer .FooterEnd{
    color: rgba(248, 249, 252, 0.7);
  margin-bottom: 0;
  margin-top: 20px;
}


/* media xl */
@media (max-width: 1399px) {
}

/* media lg */
@media (max-width: 1199px) {

}

/* media md */
@media (max-width: 991px) {
    footer{
        padding-top: 36px;
    }
    .LogoLink{
        margin-bottom: 70px;
    }
}

/* media sm */
@media (max-width: 767px) {
    footer{
        padding-top: 36px;
    }
    .LogoLink{
        margin-bottom: 70px;
    }
}

/* media xs */
@media (max-width: 575px) {
    footer{
        padding-top: 36px;
    }
    .LogoLink{
        margin-bottom: 70px;
    }
}
