.Business {
  text-align: center;
  padding-top: 73px;
  padding-bottom: 55px;
  background: #6b4dff;
}

.Business .BusinessTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 39px;
}

/* media xl */
@media (max-width: 1399px) {
}

/* media lg */
@media (max-width: 1199px) {
}

/* media md */
@media (max-width: 991px) {
}

/* media sm */
@media (max-width: 767px) {
  .Business{
    padding-top: 50px;
    padding-bottom: 40px;
  }
}

/* media xs */
@media (max-width: 575px) {
  .Business {
    padding-top: 42px;
    padding-bottom: 23px;
  }
  .Business .BusinessTitle {
    margin-bottom: 0;
  }
}
